h1{
    font-size: 15px;
    text-align: center;
    
}
.close-button{
    border: none;
    background-color: #fff;
}
.social-login{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    /* margin: 2rem; */
    margin-top: 1.5rem;
    align-items: center;
}
.social-login button{
    padding: 1rem ;
    width: 20rem;
    background-color: #fff;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
    color: rgb(89, 89, 89);
    font-size: 14px;
}
.social-login button:hover{
    background-color: rgb(240, 240, 240);
}
.social-login button img{
    position: relative;
    right: 4rem;
}
.fa-apple{
    position: relative;
    right: 4rem;
    font-size: 20px;
}
/* .social-phonenumber{
    margin-left: 2rem;
} */
.social-phonenumber input{
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid rgb(153, 153, 153);
    width: 16rem;
    margin-left: 5px;
    outline: none;
}
.social-phonenumber span{
    padding: 10px 3px;
}
.social-email a{
    text-decoration: none;
    color: rgb(89, 89, 89);
}
button:focus{
    box-shadow: 0 0 0 0;
}

.sc-cQFLBn a:link{
    text-decoration: none;
    color: grey;
}