<div class="d-flex justify-content-end pt-3">
    <h1 class="mx-auto">Get Started</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="social-login d-flex justify-content-center flex-column">
    <div class="social-google">
        <button><img alt="google logo" src="//in.bmscdn.com/webin/common/icons/googlelogo.svg">Continue with
            google</button>
    </div>
    <div class="social-email">
        <button>
            <img alt="email logo" src="//in.bmscdn.com/webin/common/icons/email.svg">
            <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=1209600&osid=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%3Ftab%3Drm%26ogbl&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%3Ftab%3Drm%26ogbl&emr=1&ifkv=ARgdvAs2zKMSGSRestHXGvFVyhuZvjv-BMkW2D0v24k2BqIWk8ir2YAzxW5qbaYntvEwkbRital_&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Continue with Email</a>
        </button>
    </div>
    <div class="social-apple">
        <button><i class="fa-brands fa-apple"></i>Continue with Apple</button>
    </div>
    <h1>OR</h1>
</div>
<div class="social-phonenumber pt-4 d-flex justify-content-center">
    <span><img src="https://in.bmscdn.com/webin/common/icons/indianflag.svg" alt=""></span>
    <span>+91</span>
    <input type="number" placeholder="Continue with phone number">
</div>
<div class="mx-auto text-center mt-5 pt-5 pb-3">
    <div class="sc-cQFLBn laHqDk">I agree to the <a href="/terms-and-conditions" target="_blank" color="DIMGRAY"
            class="sc-gojNiO jFLEbO">Terms &amp; Conditions</a> &amp; <a href="/privacy" target="_blank" color="DIMGRAY"
            class="sc-gojNiO jFLEbO">Privacy Policy</a>
    </div>
</div>