
.search{
    width: 100%;
    background-color: rgb(240,240,240);
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
}
.search input{
    width: 45%;
    padding: 12px 15px;
    border: none;
    outline: none;
}
.movie-language{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.movies{
    background-color: #fff;
    border: 1px solid rgb(240,240,240) ;
    padding:5px 30px ;
    margin-top: 1.5rem;
}
.cinemas{
    background-color: rgb(240,240,240);
    border: rgb(240,240,240);
    padding:5px 30px ;
    margin-top: 1.5rem;
}
.language-buttons{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.movie-language h3{
    font-size: 12px;
    color: rgb(220, 53, 88);
    margin-top: 3rem;
}
.movie-language h2{
    font-size: 12px;
    color: rgb(220, 53, 88);
    margin-top: 1rem;
}

.movie-icons{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.movies-list a{
    text-decoration: none;
    color:rgb(51, 51, 51) ;
    font-size: 12px;
}
.movies-list a:hover{
    text-decoration: underline;
}
.red-color{
    color: red;
    font-size: 15px;
    padding: 0 3px;
}
.new{
    color: rgb(255, 203, 1);
    padding-left: 3px;
}
.language-filters{
   padding-top: 30px;
   font-size: 15px;
}
.language-filters button{
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgb(200, 200, 200);
    padding: 2px 12px;

}
.language-filters button:hover{
    color: rgb(220, 53, 88);
    border: 1px solid rgb(220, 53, 88);
}
.filter{
    margin: 0 5px;
    font-size: 12px;

}



