<div>
    <div class="search">
        <span class="material-icons"> arrow_back_ios_new </span>
        <input type="text" placeholder="Search for Movies, Events, Plays, Sports and Activities">
        <span class="material-icons" id="close" mat-dialog-close (click)="closeDailog()">close</span>
    </div>
    <div class="language-buttons">
        <div>
            <button class="movies">MOVIES</button>
            <button class="cinemas">CINEMAS</button>
        </div>
        <div class="language-filters">
            <span>filter</span>
            <button class="filter">TELUGU</button>
            <button class="filter">HINDI</button>
            <button class="filter">ENGLISH</button>
            <button class="filter">TAMIL</button>
            <button class="filter">MALAYALAM</button>
            <button class="filter">ODISA</button>
        </div>
    </div>
    <div class="movie-language">
        <div>
            <div class="movies-list">
                <h3>TELUGU</h3>
                <span class="movie-icons">
                    <a href="">Galodu (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>87%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Itlu Maredumilli Prajaneekam (UA) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Kantara (Telugu) (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>97%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Love today(Telugu) (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>96%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Mannichava (U) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Masooda (A) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>92%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Ranasthali (A) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Thodelu (Bediya) </a>
                    <span class="new">new</span>
                    <span class="material-icons red-color">favorite </span>
                    <span>87%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Vala (A) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Yashoda (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>85%</span>
                </span>
            </div>
        </div>
        <div>
            <div class="movies-list">
                <h3>HINDI</h3>
                <span class="movie-icons">
                    <a href="">Galodu (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>87%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Itlu Maredumilli Prajaneekam (UA) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Kantara (Telugu) (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>97%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Love today(Telugu) (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>96%</span>
                </span>
                <h2>English</h2>
                <span class="movie-icons">
                    <a href="">Mannichava (U) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Masooda (A) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>92%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Ranasthali (A) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Thodelu (Bediya) </a>
                    <span class="new">new</span>
                    <span class="material-icons red-color">favorite </span>
                    <span>87%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Vala (A) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Yashoda (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>85%</span>
                </span>
            </div>
        </div>
        <div>
            <div class="movies-list">
                <h3>MALAYALAM</h3>
                <span class="movie-icons">
                    <a href="">Itlu Maredumilli Prajaneekam (UA) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Kantara (Telugu) (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>97%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Love today(Telugu) (UA) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>96%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Mannichava (U) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Masooda (A) </a>
                    <span class="material-icons red-color">favorite </span>
                    <span>92%</span>
                </span>
                <span class="movie-icons">
                    <a href="">Ranasthali (A) </a>
                    <span class="new">new</span>
                </span>
                <span class="movie-icons">
                    <a href="">Thodelu (Bediya) </a>
                    <span class="new">new</span>
                    <span class="material-icons red-color">favorite </span>
                    <span>87%</span>
                </span>
            </div>
        </div>
    </div>
</div>

