<div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="form-control me-2 " type="search"
                placeholder="Search for your cities" aria-label="Search">
    </div>
    <h4 class="Popular-city">Popular cites</h4>
    <div class="city-logos">
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/mumbai.png" alt="">
            <span>Mumbai</span>
        </div>
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/ncr.png" alt="">
            <span>Delhi-NCR</span>
        </div>
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/bang.png" alt="">
            <span>Bangloore</span>
        </div>
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/hyd.png" alt="">
            <span>Hyderabad</span>
        </div>
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/ahd.png" alt="">
            <span>Ahmadabad</span>
        </div>
        <div>
            <img src="	https://in.bmscdn.com/m6/images/common-modules/regions/chen.png" alt="">
            <span>Chennai</span>
        </div>
        <div>
            <img src="	https://in.bmscdn.com/m6/images/common-modules/regions/pune.png" alt="">
            <span>Pune</span>
        </div>
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/kolk.png" alt="">
            <span>Kolkatha</span>
        </div>
        <div>
            <img src="https://in.bmscdn.com/m6/images/common-modules/regions/koch.png" alt="">
            <span>Kochi</span>
        </div>
    </div>
    <div class="view-allcities">
        <a href="">View All cities</a>
    </div>
</div>
